/*Общее начало*/
html {
  height: 100%
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  background-color: #9c9696;
  height: 100%;
  font-size: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

li,
p {
  color: #c8c8c8;
  font-family: "Comic Sans MS", Arial, serif;
}

/*Общее конец*/
/*Начало меню*/
header {
  background-color: #1f1f1f;
  margin-bottom: 15px;
}

.main-navigation {
  display: flex;
  flex-direction: column;      /* Направление блоков в flex контейнере */
  align-items: center;         /* Центрирование блоков в flex контейнере */
  padding-left: 15%;
}

.inner-page .main-navigation {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.main-header-logo {
  order: 2;                    /* Порядок элементов в flex-box'ах */
  width: 38px;
  height: 100px;
  margin-top: 0px;
}

.inner-page .main-header-logo {
  order: 0;
  width: 150px;
  height: 40px;
  margin-bottom: 10px;
}

.menu {
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;             /*Разрешён перенос блоков*/
  z-index: 5;
}

.menu>li {
  position: relative;
  display: inline-block;
}

.menu>li>a {
  max-width: 50px;
  width: 100%;
}

.menu a {
  display: block;
  margin-left: 3px;
  padding: 25px 20px;
  color: white;
  border-right: 1px solid #55c3de;
  border-left: 1px solid #55c3de;
  vertical-align: middle;
}

.menu a:hover,
.menu a:focus {
  background-color: #55c3de;
  color: black;
}

.menu .submenu {
  background-color: #373737;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 300px;
  display: none;
  font-size: 14px;
  margin-left: 3px;
}

.menu .submenu a {
  margin: 0;
  margin-bottom: -1px;
  border-bottom: 1px solid #55c3de;
  padding-left: 5px;
}

.menu>li:hover .submenu {
  display: block;
}
.menu>li:nth-child(3),
.menu>li:nth-child(2) {
  margin-left: -4px;
}
/*Конец меню*/
/* Контент начало*/
main {
  flex: 1 0 auto;
}

.content {
  width: 50%;
}
/* Начало слайдера */
.container-fluid {
  width: 80%;
  margin-left: 5%;
  margin-top: 5%;
}
.container-fluid {
  word-break: break-all;
  max-width: 1000px;
}
.slide-link,
.carousel-control {
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}
.slide-link:hover,
.carousel-control:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* IE 8 */
  filter: alpha(opacity=50);
  /* IE7 */
  opacity: 1;
  text-decoration: none;
}
.carousel-control {
  top: 50%;
}
.bannerImage img {
  border-radius: 30px 30px 0 0;
}
.news-description {
  z-index: 5;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1f1f1f;
  text-align: center;
  font-size: 16px;
  border-radius: 0 0 30px 30px;
}
/* Конец слайдера */

h1,
section h2,
h3 {
  text-align: center;
  font-family: "Comic Sans MS", Arial, serif;
  color: #55c3de;
}
h2 {
  text-align: center;
  color: #55c3de;
  z-index: 5;
  font-family: "Comic Sans MS", Arial, serif;
}
.name-site {
  font-size: 50px;
  font-style: italic;
  margin-top: 30px;
  margin-bottom: 50px;
}

main {
  padding: 0;
  margin: 0;
  width: 70%;
  background-color: #333131;
  margin: auto;
}
.main {
  display: flex;
  align-items: flex-start;
}

/* Контент конец*/
/* Начало подвала*/
footer {
  margin-top: 15px;
  background-color: #1f1f1f;
  display: flex;
  flex: 0 0 auto;
}

.footer-content {
  width: 33%;
}

.social-container a {
  display: block;
  margin-left: 38%;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  text-align: center;
  width: 20%;
}

.social-container a:hover,
.social-container a:focus {
  background-color: #55c3de;
  color: black;
}

.social-container>a:nth-child(1) {
  border-bottom: 2px solid #55c3de;
}

.footer-nav {
  text-decoration: none;
  margin-left: 5%;
  margin-top: 2%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;             /*Разрешён перенос блоков*/
}

.footer-nav>ul>li {
  position: relative;
  display: inline-block;
}

.footer-nav>ul>li a {
  display: block;
  margin-left: 50%;
  padding: 10px 10px;
  color: white;
  text-decoration: none;
  vertical-align: middle;
  font-size: 12px;
}

.footer-nav>ul>li>a {
  max-width: 50px;
  width: 100%;
}

.footer-nav a:hover,
.footer-nav a:focus {
  color: #55c3de;
}

.email {
  text-align: center;
}
