img {
  width: 600px;
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 60px;
}
p {
  color: blue;
  font-size: 43px;
  text-align: center;
}
h1,h2,h3 {
  color: red;
  text-align: center;
}
