img {
  width: 600px;
  height: 350px;
  border-radius: 60px;
}
img.center {
 display: block;
  margin: auto;
}
p {
  color: blue;
  font-size: 43px;
  text-align: center;
}
h1,h2,h3 {
  font-size: 40px;
  color: red;
  text-align: center;
}
h1,h2,h3,h4,h5,h6,p {
  font-family: Forte, Calibri;
}
body {
  background-color: rgb(42, 174, 184);
}
